@media screen and (max-width: 1920px){
    .main .what-we-do .top-wrap__items--doted-arrow-first, .main .what-we-do .top-wrap__items--doted-arrow-second, .main .what-we-do .top-wrap__items--doted-arrow-third{
        top: 135%
    }
    .main .what-we-do .top-wrap__items--triangle-first, .main .what-we-do .top-wrap__items--triangle-second, .main .what-we-do .top-wrap__items--triangle-third {
        top: 164%;
    }
    .main .our-team .top-wrap__items--doted-arrow-first, .main .our-team .top-wrap__items--doted-arrow-second, .main .our-team .top-wrap__items--doted-arrow-third {
        top: 105%;
    }
    .main .our-team .top-wrap__items--triangle-first, .main .our-team .top-wrap__items--triangle-second, .main .our-team .top-wrap__items--triangle-third {
        top: 134%;
    }
    .main .clients-about-us {
        padding: 10% 0
    }
}
@media screen and (max-width: 1681px) {
    .main .what-we-do .top-wrap__items--doted-arrow-first, .main .what-we-do .top-wrap__items--doted-arrow-second, .main .what-we-do .top-wrap__items--doted-arrow-third {
        top: 120%;
    }
    .main .what-we-do .top-wrap__items--triangle-first, .main .what-we-do .top-wrap__items--triangle-second, .main .what-we-do .top-wrap__items--triangle-third {
        top: 155%;
    }
    .main .our-team .top-wrap__items--triangle-first, .main .our-team .top-wrap__items--triangle-second, .main .our-team .top-wrap__items--triangle-third {
        top: 132%;
    }
}
@media screen and (max-width: 1600px) {
    .main .what-we-do .top-wrap__items--triangle-first, .main .what-we-do .top-wrap__items--triangle-second, .main .what-we-do .top-wrap__items--triangle-third {
        top: 157%;
    }
    .main .our-team .top-wrap__items--triangle-first, .main .our-team .top-wrap__items--triangle-second, .main .our-team .top-wrap__items--triangle-third {
        top: 130%;
    }
    .main .our-team .top-wrap__items--doted-arrow-first, .main .our-team .top-wrap__items--doted-arrow-second, .main .our-team .top-wrap__items--doted-arrow-third {
        top: 102.5%;
    }
}
@media screen and (max-width: 1440px) {
    .main .what-we-do .top-wrap__items--doted-arrow-first, .main .what-we-do .top-wrap__items--doted-arrow-second, .main .what-we-do .top-wrap__items--doted-arrow-third {
        top: 115%;
    }
    .main .what-we-do .top-wrap__items--triangle-first, .main .what-we-do .top-wrap__items--triangle-second, .main .what-we-do .top-wrap__items--triangle-third {
        top: 151%;
    }
    .main .clients-about-us {
        padding: 15% 0;
    }
}
@media screen and (max-width: 1366px) {
    .main .what-we-do .top-wrap__items--triangle-first, .main .what-we-do .top-wrap__items--triangle-second, .main .what-we-do .top-wrap__items--triangle-third {
        top: 148%;
    }
    .main .our-team .top-wrap__items--doted-arrow-first, .main .our-team .top-wrap__items--doted-arrow-second, .main .our-team .top-wrap__items--doted-arrow-third {
        top: 99.5%;
    }
    .main .our-team .top-wrap__items--triangle-first, .main .our-team .top-wrap__items--triangle-second, .main .our-team .top-wrap__items--triangle-third {
        top: 128%;
    }
}
@media screen and (max-width: 1281px) {
    .main .portfolio-example img {
        max-width: 25%;
    }
    .main .what-we-do .top-wrap__items--triangle-first, .main .what-we-do .top-wrap__items--triangle-second, .main .what-we-do .top-wrap__items--triangle-third {
        top: 145%;
    }
    .main .what-we-do .top-wrap__items--doted-arrow-first, .main .what-we-do .top-wrap__items--doted-arrow-second, .main .what-we-do .top-wrap__items--doted-arrow-third {
        top: 110%;
    }
    .main .our-team .top-wrap .left-block {
        padding: 7.5% 5%;
    }
    .main .our-team .top-wrap__items--doted-arrow-first, .main .our-team .top-wrap__items--doted-arrow-second, .main .our-team .top-wrap__items--doted-arrow-third {
        top: 99%;
    }
    .main .our-team .top-wrap__items--triangle-first, .main .our-team .top-wrap__items--triangle-second, .main .our-team .top-wrap__items--triangle-third {
        top: 126%;
    }
}
@media screen and (max-device-width: 1024px) and (orientation: landscape) {
    .main .what-we-do .top-wrap .left-block__title {
        font-size: 2.25em;
    }
    .main .what-we-do .top-wrap__items--doted-arrow-first, .main .what-we-do .top-wrap__items--doted-arrow-second, .main .what-we-do .top-wrap__items--doted-arrow-third {
        top: 100%;
    }
    .main .what-we-do .top-wrap__items--triangle-first, .main .what-we-do .top-wrap__items--triangle-second, .main .what-we-do .top-wrap__items--triangle-third {
        top: 138%;
    }
    .main .portfolio-example img {
        box-shadow: 0 0 10px 1px rgba(0,0,0,.43);
        margin: 5% 5%;
    }
    .main .stack .stack-img {
        padding: 0 2.5%;
    }
    .main .our-team .top-wrap .left-block__title{
        font-size: 2.25em;
    }
    .main .our-team .top-wrap .left-block {
        padding: 8.5% 5%;
    }
    .main .our-team .top-wrap__items--triangle-first, .main .our-team .top-wrap__items--triangle-second, .main .our-team .top-wrap__items--triangle-third {
        top: 130%;
    }
    .main .contact-form {
        padding: 10.5% 25%;
    }
}
@media screen and (device-width: 768px) and (orientation: portrait) {
    .main .what-we-do .top-wrap__items--doted-arrow-first,.main .what-we-do .top-wrap__items--doted-arrow-second, .main .what-we-do .top-wrap__items--doted-arrow-third {
        top:100%;
    }
    .main .what-we-do .top-wrap .left-block__title {
        font-size: 2.25em;
    }
    .main .what-we-do .top-wrap__items--triangle-first, .main .what-we-do .top-wrap__items--triangle-second, .main .what-we-do .top-wrap__items--triangle-third {
        display: none!important;
    }
    .main .what-we-do .bot-wrap .right-block {
        width: 100%;
        padding: 0 10%;
    }
    .main .portfolio__title {
        width: 50%;
    }
    .main .portfolio__tabs {
        width: 50%;
    }
    .main .portfolio-example img {
        margin: 2.5% auto;
    }
    .main .stack .stack-img {
        margin: 2.5% auto;
        padding: 0 2.5%;
    }
    .main .stack .stack-img img {
        margin: auto 2.5%;
    }
    .main .our-team .top-wrap__items--triangle-first, .main .our-team .top-wrap__items--triangle-second, .main .our-team .top-wrap__items--triangle-third {
        display: none!important;
    }
    .main .clients-about-us .outer {
        width: 100%;
        margin: auto;
    }
    .main .contact-form {
        margin-top: 15%;
        padding: 5% 5%;
    }
    .main #get-more-info-modal .modal-dialog {
        width: 100%;
    }
}
@media screen and (max-device-width: 480px) {
    .main .navigation-blackout .menu-items {
        left: 1%;
        right: 1%;
    }
    .main .what-we-do .top-wrap .left-block {
        display: none;
    }
    .main .navigation-blackout .menu-items p{
        font-size: 2em;
    }
    .main .what-we-do .bot-wrap .right-block {
        padding: 0 2.5%;
        text-align: center;
    }
    .main .what-we-do .top-wrap__items {
        border: none;
    }
    .main .what-we-do .top-wrap__items--doted-arrow-first, .main .what-we-do .top-wrap__items--doted-arrow-second, .main .what-we-do .top-wrap__items--doted-arrow-third {
        display: none!important;
    }
    .main .what-we-do .top-wrap__items--triangle-first, .main .what-we-do .top-wrap__items--triangle-second, .main .what-we-do .top-wrap__items--triangle-third {
        display: none!important;
    }
    .main .what-we-do .top-wrap {
        padding-top: 5%;
    }
    .main .what-we-do .bot-wrap .right-block {
        padding: 0 2.5%;
        text-align: center;
        float: none;
        width: 100%;
    }
    .main .what-we-do .bot-wrap .right-block__button {
        margin: 0;
    }
    .main .portfolio__title {
        width: 100%;
        text-align: center;
        display: block;
    }
    .main .portfolio__tabs {
        width: 100%;
        text-align: center;
        display: block;
    }
}
/***не завтыкать доделать для мобильных!!!!***/