@media screen and (max-width: 1920px){
    .main .clients-about-us {
        padding: 10% 0
    }
}
@media screen and (max-width: 1440px) {

    .main .clients-about-us {
        padding: 15% 0;
    }
}

@media screen and (max-width: 1281px) {
    .main .portfolio-example img {
        max-width: 25%;
    }
    .main .our-team .top-wrap .left-block {
        padding: 7.5% 5%;
    }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
    .main .what-we-do .top-wrap {flex-wrap: wrap;padding-bottom: 5%;}
    .main .what-we-do .top-wrap .left-block {width: 100%; text-align: center;}
    .main .what-we-do .top-wrap .left-block__button {display: none;}
    .main .what-we-do .top-wrap .left-block__title {font-size: 3.5em;margin: 5% 0;}
    .main .what-we-do .top-wrap .left-block__description {font-size: 1.5em;padding: 0 15%;}
    .main .what-we-do .top-wrap__items:nth-child(even) {border:none;}
    .main .what-we-do .top-wrap__items {
        width: 33%;
        border-left: 2px solid rgba(255,250,250,.2);
        border-right: 2px solid rgba(255,250,250,.2);
    }
    .main .what-we-do .bot-wrap .right-block {
        width: 100%;
        text-align: center;
        padding: 0 15%;
    }
    .main .what-we-do .bot-wrap .right-block__button {
        margin: 10% 2.5%;
    }
    .main .portfolio__title {width: 65%;}
    .main .portfolio__title h2 {font-size: 1.25em;}
    .main .portfolio__tabs span {font-size: 1.15em;}
    .main .portfolio-example {display: flex; overflow: auto; flex-flow: row nowrap;}
    .main .our-team .top-wrap {flex-wrap: wrap; padding-bottom: 5%;}
    .main .our-team .top-wrap .left-block {padding: 8.5% 10%;width: 100%;text-align: center;}
    .main .our-team .top-wrap__items {border: none;width: 33%;}
    .main .our-team .top-wrap .left-block__title {
        font-size: 2.5em;
        margin: 2.5% 0;
    }
    .main .portfolio-example img {
        box-shadow: 0 0 10px 1px rgba(0,0,0,.43);
        margin: 5% 5%;
        max-width: 35%;
    }
    .main .stack .stack-img {
        padding: 0 2.5%;
    }

    .main .contact-form {
        padding: 10.5% 25%;
    }
}