@media screen and (max-width: 1024px) and (orientation: landscape) {
    .main .what-we-do .top-wrap {flex-wrap: wrap;padding-bottom: 5%;}
    .main .what-we-do .top-wrap .left-block {width: 100%; text-align: center;}
    .main .what-we-do .top-wrap .left-block__button {display: none;}
    .main .what-we-do .top-wrap .left-block__title {font-size: 3.5em;margin: 5% 0;}
    .main .what-we-do .top-wrap .left-block__description {font-size: 1.5em;padding: 0 15%;}
    .main .what-we-do .top-wrap__items:nth-child(even) {border:none;}
    .main .what-we-do .top-wrap__items {
        width: 33%;
        border-left: 2px solid rgba(255,250,250,.2);
        border-right: 2px solid rgba(255,250,250,.2);
    }
    .main .what-we-do .bot-wrap .right-block {
        width: 100%;
        text-align: center;
        padding: 0 15%;
    }
    .main .what-we-do .bot-wrap .right-block__button {
        margin: 10% 2.5%;
    }
    .main .portfolio__title {width: 65%;}
    .main .portfolio__title h2 {font-size: 1.25em;}
    .main .portfolio__tabs span {font-size: 1.15em;}
    .main .portfolio-example {display: flex; overflow: auto; flex-flow: row nowrap;}
    .main .our-team .top-wrap {flex-wrap: wrap; padding-bottom: 5%;}
    .main .our-team .top-wrap .left-block {padding: 8.5% 10%;width: 100%;text-align: center;}
    .main .our-team .top-wrap__items {border: none;width: 33%;}
    .main .our-team .top-wrap .left-block__title {
        font-size: 2.5em;
        margin: 2.5% 0;
    }
    .main .portfolio-example img {box-shadow: 0 0 10px 1px rgba(0,0,0,.43);}
    .main .stack .stack-img {
        padding: 0 2.5%;
    }
    .main .contact-form {
        padding: 10.5% 25%;
    }
}
@media screen and (max-width: 768px) {
    .slick-dots li.slick-active button:before {color:#fff!important;}
    .main .navigation-indicator {display: none;}
    .slider.center.autoplay.slick-initialized.slick-slider {
        margin-top:15%;
    }
    .main .what-we-do .top-wrap {display: none;}
    .main .what-we-do .bot-wrap .right-block {
        float: none;
        width: 85%;
        margin: auto;
        padding: 0;
        text-align: center;
        display: none;
    }
    .main .what-we-do .bot-wrap .what-we-do__right-block--mobile {display: block;}
    .main .what-we-do .bot-wrap .what-we-do__right-block--mobile .right-block {
        display: block;
    }
    .main .what-we-do .bot-wrap .right-block__button {margin: 5% auto;width: 45%;}
    .main .what-we-do .bot-wrap .right-block__title {font-size: 25px;}
    .main .navigation-blackout .menu-items {font-size: 0.85em;}
    .main .portfolio-example {overflow: auto;padding: 5% 2.5%;}
    .main .portfolio-example .img-box img {max-width: 250px;}
    .main .portfolio__title {display:block;text-align: center;width: 100%;margin-bottom: 5%;font-size: .55em;}
    .main .portfolio__title h2 {margin:20px 0 10px 0;font-size: 25px;}
    .main .portfolio__tabs {width: 100%;display: block;text-align: center;}
    .main .our-team .top-wrap {flex-wrap: wrap;}
    .main .our-team .top-wrap__items {display: none;}
    .main .our-team .top-wrap .left-block {width: 100%;text-align: center;}
    .main .our-team .top-wrap .left-block__title {margin: 5% 0;}

    .main .stack .stack-img {flex-wrap: nowrap;overflow: auto;padding: 0 5%;}
    .main .our-team .bot-wrap .left-block {display: block; width: 100%;}
    .main .our-team .bot-wrap .right-block {display: none!important;padding: 0 5%;text-align: center;width: 100%;}
    .main .our-team .bot-wrap .left-block #team-carousel {padding: 0;}
    .main .our-team .bot-wrap {display: flex;flex-direction: column;}
    .main .our-team .bot-wrap .single-item.mobile-team {display: block;}
    .main .our-team .bot-wrap .left-block #team-carousel ul.slick-dots {padding-right: 0px;}
    .top-wrap__items__mobile {
        background-color: rgba(0, 0, 0, 0.1);
        color: #fff;
        font-weight: 700;
        margin: 0 10%;
        padding: 10% 0 5% 0;
    }
    .top-wrap__items__mobile img {margin: auto;}
    .top-wrap__items__mobile p {    margin: 5% 0;}
    .main .clients-about-us {padding: 2.5% 2.5% 5% 2.5%;}
    .main .clients-about-us .outer {position: static; width: 100%;padding: 0 5%;margin: 0;}
    .main .clients-about-us .outer__title {font-size: 1.5em;}
    .main .mail-fixed-button {display:none;}
    .main .footer {display: none;}
    .main .footer.mobile {display: block;text-align: center;padding: 2.5% 2.5%;}
    .main .get-started.landing {right: 0;left: 0;text-align: center;}
    .main .clients-about-us .outer__carousel #text-slides ul li.slide-item .quoteContainer .quote-phrase {font-size:11px;padding: 0 5%;}
    .main .clients-about-us .outer__carousel div#carousell {    width: 100%;}
    .main .contact-form {padding: 5% 5%;}
    .main .contact-form {background: url(../img/bg-contactus.png) center top;background-size: contain;}
    .main .contact-form__title {font-size: 2.05em;}
    .main .contact-form .form {display: flex; flex-direction: column; align-items: center;}
    .main .contact-form .form input {width: 100%;margin:2.5% auto;padding: 5% 0;}
    .main .contact-form__arrow {display: none;}
    .main .contact-form .form__submit {width: 100%;padding: 5% 10%;}
    .main .clients-about-us .outer__carousel #text-slides {height: 375px;}
    .main .clients-about-us .outer__carousel #text-slides a {display: none;}
}